.button__create{
  @include createBtn();
}
.stuff-list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__item {
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
    h2 {
      color: $baseYellowColor;
      font-size: $baseTitleFontSize;
      font-family: $fontPacifico;
    }
    .button__update {
      @include updateBtn();
      margin: 0 15px 0 0;
    }
    .button__delete {
      display: inline-flex;
      @include deleteBtn();
    }
  }
}