#app {
    width: 100%;
}
.container {
    max-width: 992px;
    margin: 0 auto;
}
.bread-crumbs {
    margin: 15px 0;
    color: $baseGreyColor;
    font-family: $fontShadowsIntoLight;
    text-transform: capitalize;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media ($screen-xs-min) {
        width: 50%;
    }
    @media ($screen-xs-max) {
        width: 100%;
    }

}
.errors {
    width: 80%;
    top: 10%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    &__item {
        width: 100%;
        margin: 15px 0 0;
        padding: 10px;
        background-color: #de5454;
        color: #ffffff;
        font-size: 20px;
        font-family: $fontDancingScript;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 5px;
    }
}