#app {
    width: 100%;
}
.container {
    max-width: 992px;
    margin: 0 auto;
}
.bread-crumbs {
    margin: 15px 0;
    color: $baseGreyColor;
    font-family: $fontShadowsIntoLight;
    text-transform: capitalize;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media ($screen-xs-min) {
        width: 50%;
    }
    @media ($screen-xs-max) {
        width: 100%;
    }

}